body {
  padding:0;
  margin:0;
  background:#6e6d6d;
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.card {
  padding:0;
  color: #333333;
  background: #ffffff;
  margin:20px;
  border-radius: 3px;
  display: -webkit-flex;
  display: flex;
}
