# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/src/bower_components/
/node_modules/
/brackets-bower.log
/src/vulcanized.html
/src/vulcanized.js
/src/PolySonic.html
/src/PolySonic.js
/src/PolySonic.css
/src_1.0/bower_components/
