
.artist {
  position:relative;
  display:inline-block;
  font-size: 10pt;
  top:-5px;
  overflow:hidden;
  max-width:80%;
  pointer-events:none;
  max-height:15px;
}
.album {
  position:relative;
  display:inline-block;
  font-size: 12pt;
  top:-10px;
  overflow:hidden;
  max-width:80%;
  pointer-events:none;
  line-height: 150%;
  max-height:23px;
}
.artist2 {
  position:relative;
  display:inline-block;
  font-size: 8pt;
  top:-5px;
  overflow:hidden;
  max-width:80%;
  pointer-events:none;
}
.album2 {
  position:relative;
  display:inline-block;
  font-size: 10pt;
  top:-8px;
  overflow:hidden;
  max-width:80%;
  pointer-events:none;
}
p {
  position:relative;
  top:0px;
  font-size:10pt;
  display:inline-block;
}
#play {
  position:absolute;
  bottom:40px;
  left:5px;
}
.tracks {
  border-top:1px solid #CECECE;
  position:absolute;
  top:50px;
  bottom:0px;
  left:0px;
  right:0px;
  overflow:scroll;
}
paper-item {
  font-size: 10pt;
}
paper-icon-button: {
  color:#000000;
}
.dialog {
  position:static;
}
.bumpMargin {
  margin-right:16px;
}
paper-icon-button.huge::shadow #icon {
  width: 95px;
  height: 95px;
}
.huge {
  color:rgba(255,255,255,0.8);
}
.spinWrapper {
  background:rgba(255,255,255,0.6);
  overflow:hidden;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
  pointer-events:none;
}
.playWrapper {
  overflow:hidden;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
}
.spinner {
  z-index:2;
  pointer-events:none;
}
.spinner::shadow .circle {
  border-color: #000;
}
.spinnerW::shadow .circle {
  border-color: #FFF;
}
#smallCover {
  margin-right:16px;
  height:40px;
  width:40px;
  border-radius:50%;
  background-image:url("../../../images/default-cover-art.png");
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  background-size:43px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
  position:relative;
}
.smallArtist {
  overflow:hidden;
  font-size: 12px;
  top: 2px;
  position: absolute;
  max-width: 350px;
}
.smallAlbum {
  overflow:hidden;
  font-size: 16px;
  position: absolute;
  top: 22px;
  left: 0px;
  max-width: 350px;
}
.bumpTopMargin {
  margin-top:16px;
}
core-tooltip::shadow .core-tooltip {
  opacity: 0;
  -webkit-transition: all 300ms cubic-bezier(0,1.92,.99,1.07);
  transition: all 300ms cubic-bezier(0,1.92,.99,1.07);
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}
core-tooltip:hover::shadow .core-tooltip,
core-tooltip:focus::shadow .core-tooltip {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#listArt {
  border-radius: 50%;
  margin-right:16px;
  height: 40px;
  width:40px;
}
#topper {
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:400px;
  background-image:url("../../../images/default-cover-art.png");
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  background-size:cover;
}
#closeDialog {
  position:fixed;
  z-index:5;
  left:16px;
  top:16px;
  color:{{app.colorThiefAlbum}};
  background:{{app.colorThiefAlbumOff}};
  border-radius: 50%;
  opacity:0.5;
}
#closeDialog:hover {
  color:#db4437;
  opacity:1;
}
.trackWrapper {
  position:fixed;
  overflow-y: auto;
  top:480px;
  left:0;
  right:0;
  bottom:0;
  padding-left:16px;
  padding-right:8px;
}
paper-dialog::shadow #scroller {
  overflow:hidden;
  max-height:695px;
  max-width: 471px;
}
core-tooltip::shadow .core-tooltip {
  opacity: 0;
  -webkit-transition: all 300ms cubic-bezier(0,1.92,.99,1.07);
  transition: all 300ms cubic-bezier(0,1.92,.99,1.07);
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}
core-tooltip:hover::shadow .core-tooltip,
core-tooltip:focus::shadow .core-tooltip {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
paper-icon-button.star::shadow #icon {
  width: 15px;
  height: 15px;
}
.ratings {
  float:right;
}
paper-icon-button[icon='bookmark'] {
  color:#db4437;
}
#detailsDialog {
  min-height:695px;
  min-width:471px;
}
#detailsHeader {
  font-size:10pt;
  left: 8px;
  position:absolute;
  top:400px;
  width:455px;
}
.trackdetails {
  margin-right:8px;
  overflow: hidden;
}
.minW280 {
  min-width:280px;
}
.greenButton {
  background: green;
  color: white;
}
.listDeets {
  margin-top:10px;
  text-align: left;
}
.marginR24 {
  margin-right: 24px;
}
.marginT10 {
  margin-top:10px;
}
.nameTitle {
  font-size:14pt;
  margin:8px;
  margin-right: 30px;
  max-height:30px;
}
