html /deep/ core-header-panel {
  ::-webkit-scrollbar-track {
    background:white;
  }

  ::-webkit-scrollbar {
    width: 7.5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: lightgrey; //fallback
    background-color: rgba(26, 26, 26, 0.25);
  }
}
body {
  margin:0;
  font-family: 'RobotoDraft', sans-serif;
  background:#e5e5e5;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
core-toolbar {
  background: #6e6d6d;
  color:#ffffff;
}
div {
  margin: auto;
  text-align: center;
}
core-menu {
  padding:0;
  margin:0;
}
[drawer] {
  background-color: #fff;
}
paper-icon-button {
  color:#ffffff;
}
#panel:not([narrow]) #menuButton {
  display: none;
}
.controlsWrapper {
  background: #6e6d6d;
  height:128px;
  display:block;
  position: static;
  bottom:0;
  left:0;
  right:0;
  text-align: center;
  margin:auto;
}
#time {
  color: #ffffff;
  position: absolute;
  right: 2%;
  margin-top: 18px;
  font-size: 14pt;
}
#coverArt {
  background-image:url("../images/default-cover-art.png");
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
}
paper-icon-button.huge::shadow #icon {
  width: 95px;
  height: 95px;
}
paper-icon-button.big::shadow #icon {
  width: 50px;
  height: 50px;
  margin-bottom:12px;
}
#progress {
  position:absolute;
  left:0;
  right:0;
  width:100%;
  margin:0;
  padding:0;
  cursor:pointer;
  height:15px;
}
paper-progress::shadow #activeProgress {
  background-color:#db4437;
}
paper-progress::shadow #secondaryProgress {
  background-color:#d99797;
}
#avIcon {
  padding:0px;
  margin-top:16px;
}
#volume {
  position:absolute;
  right:1%;
  margin-top:66px;
}
#playing {
  max-height:65px;
  overflow: hidden;
  font-size:10pt;
}
.bar {
  height:30px;
  background:#000000;
}
#loader.hide {
  bottom:100%;
  visibility: hidden;
  opacity:0;
}
#loader {
  position: absolute;
  bottom:0;
  right:0;
  top: 78px;
  left: 0;
  height:100%;
  background: #e5e5e5;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
  z-index:5;
  pointer-events: none;
  transition: all 0.5s;
}
#box {
  width:128px;
  transition: all 0.4s;
}
#box.hide {
  opacity:0;
  visibility: hidden;
}
#drag {
  -webkit-app-region: drag;
  height:40px;
  cursor: -webkit-grab;
}
.card {
  margin:1%;
  margin-top:5px;
  display:block;
  background-color:#FFFFFF;
  border-radius:2px;
  color:#000000;
  border:1px solid #d8d8d8;
  padding:10px;
  text-align:center;
  font-size:10pt;
  position:relative;
}
.alignLeft {
  text-align: left;
}
#toast {
  font-size: 13pt;
}
paper-input /deep/ .focused-underline  {
  background-color:#6e6d6d;
}
core-menu core-icon {
  margin-right:16px;
}
.redClose {
  color: #db4437;
}
#sortBox {
  height:52px;
  padding-left: 16px;
  text-align:left;
}
.spinWrapper {
  background:rgba(255,255,255,0.6);
  overflow:hidden;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
  pinter-events:none;
}
.waitingToPlay {
  background:rgba(255,255,255,0.3);
  overflow:hidden;
  position:absolute;
  top:0;
  bottom:128px;
  left:0;
  right:0;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
  pinter-events:none;
}
.dataLoading {
  background:rgba(255,255,255,0.6);
  overflow:hidden;
  position:fixed;
  z-index:2;
  top:128px;
  bottom:0;
  left:0;
  right:0;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
  pinter-events:none;
}
.spinner::shadow .circle {
  border-color: #000;
}
#max {
  display:none;
}
.sysbar {
  position: absolute;
  top: 0;
  left: -8px;
  right: -8px;;
  margin-top:8px;
  background:rgba(0,0,0,0.2);
  min-height:40px;
}
.jumpList {
  position:fixed;
  right:8px;
  z-index:2;
}
